//----- Mixin / Plus
//----- Example @include plus(30px, 2px, red);
@mixin plus($size, $width, $border-color) {
  display: inline-block;
  width: $size;
  height: $size;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:after,
  &:before {
    content: '';
    width: $width;
    height: $size;
    background-color: $border-color;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    @include vendor-prefixes(border-radius, 5px);
  }
  &:before {
    @include vendor-prefixes(transform, rotate(90deg));
  }
}
