//----- Mixin / Font Size

// Example @include font-size(10px, 30px);
// rem Font Size
@mixin font-size($fz-phone, $fz-desktop) {
  @include breakpoint(overPhone){
    font-size: cr($fz-desktop);
  }
  @include breakpoint(phone) {
    font-size: cr($fz-phone);
  }
}

// vw Font Size for HTML
@mixin font-size-vw($fz-phone, $fz-desktop) {
  font-size: $fz-desktop;
  @include breakpoint(siteMaxWidth){
    font-size: cvw($fz-desktop, $site-desk-design);
  }
  @include breakpoint(phone) {
      font-size: cvw($fz-phone, $site-mob-design);
  }
}
