//----- Variables / Colors

$c-white                : #fff;
$c-black                : #000;

$colors           : (
  buttons         : ( //----- Buttons colors
    primary       : $c-black,
    secondary     : $c-white
  )
);


// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray  : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
//     @for $soc from 1 to $buttonsLength {
//         $currentButton : nth($buttonsArray, $soc);
//         &--#{$currentButton} { // color
//             color: colorFunc(socials, $currentButton);
//         }
//     }
// }
