//----- Variables / Paths

// $fontBaseUrl      : "http://static1.webedia.fr/fonts/";
// $localFontBase    : "/_common/fonts/";
// $icomoon-font-path: "/_common/fonts/svg-font";
// $imgBaseUrl       : "/_common/images";

$localFontBase       : "/assets/fonts/";
$imgBaseUrl          : "/assets/images";
$icomoon-font-path   : "/assets/fonts/svg-font";
