//----- Variables / Typography

//------FONT-FACE
// @include fontFace (FontName, fontFolder, 700, italic);
// @include fontFace (Sketch, Sketch/Sketch, normal, normal, woff woff2);

//------FONT FAMILY VARIBALE
$fontDefault            : Arial, sans-serif;
// $ff == $font-family
$ff-main                : $fontDefault;

//----- Font size
$font-size-base         : 10px;

//------GLOBAL FONT SETTINGS
html {
  @include font-size-vw($font-size-base, $font-size-base);
}
body {
    font-family: $ff-main;
    -webkit-font-smoothing: antialiased;
}

h1 {}
h2 {}
a {
    text-decoration: none;
}
p {}
