<form id="" class="c-form" action="" method="" novalidate="">
    <fieldset id="" class="c-form__content">
        <div class="c-form__block">
            <label class="c-form__label" for="sender-name">Name: <span class="c-form__require">*</span></label>
            <input class="c-form__input" type="text" name="name" placeholder="" value="" required="">
        </div>
        <div class="c-form__block">
            <label class="c-form__label" for="sender-email">Email: <span class="c-form__require">*</span></label>
            <input class="c-form__input" type="text" name="email" placeholder="" value="" required="">
        </div>
        <div class="c-form__block">
            <label class="c-form__label" for="sender-subject">Subject: <span class="c-form__require">*</span></label>
            <input class="c-form__input" type="text" name="subject" placeholder="" value="" required="">
        </div>
        <div class="c-form__block">
            <label class="c-form__label" for="sender-message">Message: <span class="c-form__require">*</span></label>
            <textarea name="message" rows="" cols="" class="c-form__textarea" required=""></textarea>
        </div>

        <div class="c-form__block">
            <button class="c-form__button" type="submit" name="submit-contact">Submit</button>
        </div>
    </fieldset>
</form>
